.mat-card {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.mat-app-background{
    height: 100vw;
}
.tabcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-top: 20px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

body{
    background-color: #424242;
}
.spinnerbox{
    position: absolute;
    z-index: 1000;
    display: block;
    margin: auto;
    margin-left: auto;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}